
/ChristmasTest/obj
/ChristmasTest/PartCover
/ChristmasTree/obj
/ChristmasTest/bin/Debug/ChristmasTree.exe
/ChristmasTest/bin/Debug/ChristmasTree.pdb
/ChristmasTest/bin/Debug/ChristmasTest.dll
/ChristmasTest/bin/Debug/ChristmasTest.pdb
/ChristmasTree/bin/Debug/ChristmasTree.pdb
/ChristmasTree/bin/Debug/ChristmasTree.exe
/ChristmasTree/bin/Debug/ChristmasTree.exe.CodeAnalysisLog.xml
/ChristmasTree/bin/Debug/ChristmasTree.exe.config